.expand{
    color:black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: white;
}
.expand:hover{
    color: rgb(59, 21, 59);
}
.main{
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
}
.noone{
    background-image: linear-gradient(to right,rgb(245, 218, 218),rgb(200, 164, 164),rgb(245, 218, 218));

}
h1,h{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
}